@font-face {
  font-family: "Helvetica W01 Bold";
  src: url("/src/CSS/Helvetica\ W01\ Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir W01 Light";
  src: url("/src/CSS/Avenir\ LT\ 35\ Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica W01 Light";
  src: url("/src/CSS/Helvetica\ W01\ Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica W01 Roman";
  src: url("/src/CSS/Helvetica\ W01\ Roman.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Playfair W01 Bold";
  src: url("./CSS/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Futura W01 Medium";
  src: url("./CSS/Futura\ LT\ W01\ Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir W01 Heavy";
  src: url("./CSS/Avenir\ Heavy.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f3f3;
  user-select: none;
}
